@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --header-height: 2rem;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

header {
  background: #263238;
  color: white;
  height: var(--header-height);
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

main {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding-top: var(--header-height);
}

section#display {
  background: skyblue; /* remove */
  align-items: center;
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}

section#options {
  padding: 2rem;
}

section#options > div {
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 32px rgba(0,0,0,0.15);
}

section#options h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

section#options span {
  font-size: 0.8rem;
  margin: 0;
  opacity: 0.8;
  padding: 0;
}

section#options li {
  margin: 0;
  padding: 0;
}

section#options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section#options ::marker {
  display:none;
}

section#options details {
  padding: 0.5rem 2rem;
}

section#options summary {
  list-style: none;
  padding: 0.5rem 2rem;
}
