@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --header-height: 4rem;
  --shadow: 0 3px 32px rgba(0,0,0,0.15);
}

html {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

header {
  background: #263238;
  box-shadow: var(--shadow);
  color: white;
  height: var(--header-height);
  line-height: var(--header-height);
  padding: 0 2rem;
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
  z-index: 100;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header h1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: var(--header-height);
}

main > div {
  max-width: 80ch;
  margin: 0 auto;
  padding: 2rem;
}

section#display {
  border: 1px dashed black; /* remove */
  align-items: center;
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}

section#options > div {
  background: white;
  box-shadow: var(--shadow);
  padding: 0.5rem 0;
}

section#options h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

section#options span {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  opacity: 0.75;
  padding: 0;
}

section#options li {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

section#options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section#options ::marker {
  display:none;
}

section#options details {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  cursor: pointer;
  padding: 0.5rem 2rem;
}

section#options details:last-of-type {
  border-bottom: none;
}

section#options details[open] summary {
  padding: 0 0 0.5rem 0;
}

section#options summary {
  list-style: none;
  padding: 0;
}

#loading {
  align-items: center;
  background: white;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  z-index: 50;
}

#loading span {
  animation: 1.5s ease-in-out 0s 1 loadingProgress;
  background-color: rgba(0,0,0,0.1);
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  border-radius: 1000px;
  opacity: 0.75;
  padding: 1rem;
  text-align: center;
  width: 80vw;
}

@media (orientation: landscape) {
  
  main {
    flex-direction: row;
  }
  
  section#options {
    padding: 2rem;
  }
  
  section#options > div {
    border-radius: 5px;
    width: 25ch;
  }
  
}

@keyframes loadingProgress {
  0% {
    background-size: (0% 100%);
  }
  100% {
    background-size: (100% 100%);
  }
}
