:root {
  --header-height: 2rem;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: red;
  height: var(--header-height);
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

main {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding-top: var(--header-height);
}

section#display {
  flex: 1 0 0;
}

section#options {
  padding: 1rem;
}

section#options > div {
  background: white;
  box-shadow: 32px 0 6px rgba(0,0,0,0.15);
}

section#options li {
  margin: 0;
  padding: 0;
}

section#options ul {
  list-display-style: none;
  margin: 0;
  padding: 0;
}
